body {
    font-family: Arial, sans-serif;
    padding: 10px;
}
label, input, button {
    margin-bottom: 3px;
}
#output {
    margin-top: 3px;
}
#pace {
    font-weight: bold;
    color: midnightblue;
}
